<template>
  <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleSubmit">
    <a-form-item label="Tên">
      <a-input
        v-decorator="['name', { rules: [{ required: true, message: 'Vui lòng nhập tên !!' }] }]"
      />
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
      <a-button type="primary" html-type="submit">
        Thêm
      </a-button>
      <router-link :to="{name: 'index-category'}">
        <a-button type="danger" style="margin-left: 15px">
          Trở về
        </a-button>
      </router-link>
    </a-form-item>
  </a-form>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  beforeCreate () {
    this.form = this.$form.createForm(this)
  },
  methods: {
    ...mapActions({
      createCategoryAction: 'admin/createCategoryAction'
    }),
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields({ suppressWarning: true }, async (err, values) => {
        if (!err) {
          const res = await this.createCategoryAction(values)
          if (res.status === 201) {
            this.$router.push({name: 'index-category'})
            this.$message.success('Thêm thành công!!!')
          }
          if (res.status === 422) {
            this.$message.error(res.data.message)
          }
        }
      })
    }
  }
}
</script>
