<template>
  <div>
    <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleSubmit">
      <a-form-item label="Tên">
        <a-input
        v-decorator="['name', { rules: [{ required: true, message: 'Vui lòng nhập tên !!' }], initialValue: this.getFindCategory.name }]" />
      </a-form-item>
      <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
        <a-button type="primary" html-type="submit">
          Sửa
        </a-button>
        <router-link :to="{name: 'index-category'}">
          <a-button type="danger" style="margin-left: 15px">
            Trở về
          </a-button>
        </router-link>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  beforeCreate () {
    this.form = this.$form.createForm(this)
  },
  created () {
    this.findCategoryAction(this.$route.params.id)
  },
  computed: {
    ...mapGetters({
      getFindCategory: 'admin/getFindCategory'
    })
  },
  methods: {
    ...mapActions({
      updateCategoryAction: 'admin/updateCategoryAction',
      findCategoryAction: 'admin/findCategoryAction'
    }),
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields({ suppressWarning: true }, async (err, values) => {
        if (!err) {
          const params = {id: this.$route.params.id, values: values}
          const res = await this.updateCategoryAction(params)
          if (res.status === 200) {
            this.$router.push({name: 'index-category'})
            this.$message.success('sửa thành công!!!')
          }
          if (res.status === 422) {
            this.$message.error(res.data.message)
          }
        }
      })
    }
  }
}
</script>
