<template>
  <div>
    <div style="margin-bottom: 15px">
      <div><router-link :to="{name: 'create-category'}"><a-button>Thêm</a-button></router-link></div>
      <search-table-admin :listQuery="listQuery" @searchList="loadListCategory"/>
    </div>
    <a-table
      :columns="columns"
      :pagination=false
      :loading="loading"
      :rowKey="record => record.id"
      :dataSource="this.getListCategory"
    >
    <span slot="action" slot-scope="text, record">
      <router-link :to="{ name: 'edit-category', params: { id: record.id }}">
        <a-icon type="edit" />
      </router-link> |
      <a-popconfirm title="Bạn có muốn xóa không？" okText="Có" cancelText="Không" @confirm="deleteCategory(record.id)">
          <a style="color: red"><a-icon type="delete" /></a>
      </a-popconfirm>
    </span>
    </a-table>
    <div style="float: left; margin-top: 15px">
      {{ this.getListCategory.length }} Kết quả / Tổng {{ this.getPaginationListCategory.total }} Kết Quả
    </div>
    <div style="display: flow-root">
      <pagination-table-admin :listQuery="listQuery" :paginationData="this.getPaginationListCategory" @loadListPagination="loadListCategory"/>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

const columns = [
  {
    title: 'id',
    dataIndex: 'id',
    width: '5%',
    scopedSlots: { customRender: 'id' }
  },
  {
    title: 'Tên',
    dataIndex: 'name',
    width: '20%',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: 'Ngày tạo',
    dataIndex: 'created_at',
    width: '25%',
    scopedSlots: { customRender: 'created_at' }
  },
  {
    title: 'Ngày cập nhật',
    dataIndex: 'updated_at',
    width: '25%',
    scopedSlots: { customRender: 'updated_at' }
  },
  {
    title: '#',
    key: 'action',
    width: '10%',
    scopedSlots: { customRender: 'action' }
  }
]
export default {
  components: {
    PaginationTableAdmin: () => import('@/components/PaginationTableAdmin'),
    SearchTableAdmin: () => import('@/components/SearchTableAdmin')
  },
  data () {
    return {
      columns,
      loading: false,
      listQuery: {
        page: 1,
        per_page: 5,
        search: ''
      }
    }
  },
  created () {
    this.loading = true
    this.getListCategoryAction(this.listQuery)
    setTimeout(() => {
      this.loading = false
    }, 800)
  },
  computed: {
    ...mapGetters({
      getListCategory: 'admin/getListCategory',
      getPaginationListCategory: 'admin/getPaginationListCategory'
    })
  },
  methods: {
    ...mapActions({
      getListCategoryAction: 'admin/getListCategoryAction',
      destroyCategoryAction: 'admin/destroyCategoryAction'
    }),
    loadListCategory () {
      this.loading = true
      this.getListCategoryAction(this.listQuery)
      setTimeout(() => {
        this.loading = false
      }, 800)
    },
    async deleteCategory (id) {
      this.loading = true
      const res = await this.destroyCategoryAction(id)
      if (res) {
        if (res.status === 200) {
          this.getListCategoryAction(this.listQuery)
          this.$message.success('Xóa thành công!!!')
          setTimeout(() => {
            this.loading = false
          }, 800)
        }
        if (res.status === 400) {
          this.$message.error('Xóa không thành công!!!')
          setTimeout(() => {
            this.loading = false
          }, 800)
        }
      }
    }
  }
}
</script>
