<template>
  <a-pagination
    class="ant-table-pagination"
    :pageSizeOptions="pageSizeOptions"
    :total="total"
    :pageSize="per_page"
    @change="handleCurrentChange"
    showSizeChanger
    @showSizeChange="onShowSizeChange"
  >
    <template slot="buildOptionText" slot-scope="props">
      <span >{{props.value}} / Trang</span>
    </template>
  </a-pagination>
</template>

<script>
export default {
  name: 'Pagination',
  data () {
    return {
      pageSizeOptions: ['5', '10', '20', '30', '40', '50']
    }
  },
  props: {
    total: {
      type: Number
    },
    page: {
      type: Number
    },
    per_page: {
      type: Number
    }
  },
  methods: {
    handleCurrentChange (page, pageSize) {
      this.$emit('update:page', page)
      this.$emit('pagination')
    },
    onShowSizeChange (current, pageSize) {
      this.$emit('update:page', current)
      this.$emit('update:per_page', pageSize)
      this.$emit('pagination')
    }
  }
}
</script>
