<template>
  <pagination v-show="paginationData.total > 0" :total="paginationData.total" :page.sync="listQuery.page" :per_page.sync="listQuery.per_page" @pagination="loadListPagination" />
</template>

<script>
export default {
  components: {
    Pagination: () => import('@/components/admin/Pagination')
  },
  props: {
    paginationData: {
      type: Object
    },
    listQuery: {
      type: Object
    }
  },
  methods: {
    loadListPagination () {
      this.$emit('loadListPagination', this.listQuery)
    }
  }
}
</script>
