<template>
  <div>
    <a-row>
      <a-col :span="4" :offset="20"><a-input-search placeholder="input search text" @search="onSearch" /></a-col>
    </a-row>
  </div>
</template>

<script>
export default {
  props: {
    listQuery: {
      type: Object
    }
  },
  methods: {
    onSearch (value) {
      this.listQuery.search = value
      this.$emit('searchList', this.listQuery)
    }
  }
}
</script>
