<template>
  <a-pagination
    class="ant-table-pagination"
    showSizeChanger
    :pageSizeOptions="pageSizeOptions"
    :total="this.paginationData.total"
    :pageSize="this.paginationData.per_page"
    @change="handleCurrentChange"
    @showSizeChange="onShowSizeChange"
  >
    <template slot="buildOptionText" slot-scope="props">
      <span >{{props.value}} / Trang</span>
    </template>
  </a-pagination>
</template>

<script>
export default {
  name: 'PaginationTableAdmin',
  props: {
    listQuery: {
      type: Object
    },
    paginationData: {
      type: Object
    }
  },
  data () {
    return {
      pageSizeOptions: ['5', '10', '20', '30', '40', '50']
    }
  },
  methods: {
    handleCurrentChange (page, pageSize) {
      this.listQuery.page = page
      this.listQuery.per_page = pageSize
      this.$emit('loadListPagination', this.listQuery)
    },
    onShowSizeChange (current, pageSize) {
      this.listQuery.page = current
      this.listQuery.per_page = pageSize
      this.$emit('loadListPagination', this.listQuery)
    }
  }
}
</script>
