<template>
  <div>
    <a-form :form="form" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleSubmit">
      <a-form-item label="Tên">
        <a-input
          v-decorator="['title', { rules: [{ required: true, message: 'Vui lòng nhập tên !!' }], initialValue: this.getFindPost.title}]"
        />
      </a-form-item>
      <a-form-item label="Hình">
        <a-upload name="image" :fileList="fileList" :multiple="false" :beforeUpload="beforeUpload" :showUploadList="true">
          <a-button> <a-icon type="upload" /> chọn hình </a-button>
        </a-upload>
      </a-form-item>
      <a-form-item label="Hình cũ">
        <img v-bind:src="this.getFindPost.image" alt="" width="100px">
      </a-form-item>
      <a-form-item label="Thể loại">
        <a-select
          v-decorator="['category_id', { rules: [{ required: true, message: 'Vui lòng chọn thể loại !!' }], initialValue: this.getFindPost.category_id }]">
          <a-select-option v-for="item in this.getListCategory" :key="item.id">
            {{ item.name }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="Chi tiết">
        <a-textarea placeholder="chi tiết" :rows="6"
                    v-decorator="['detail', { rules: [{ required: true, message: 'Vui lòng nhập chi tiết !!' }], initialValue: this.getFindPost.detail }]"/>
      </a-form-item>
      <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
        <a-button type="primary" html-type="submit">
          Sửa
        </a-button>
        <router-link :to="{name: 'index-post'}">
          <a-button type="danger" style="margin-left: 15px">
            Trở về
          </a-button>
        </router-link>
      </a-form-item>
    </a-form>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  data () {
    return {
      fileList: []
    }
  },
  beforeCreate () {
    this.form = this.$form.createForm(this)
  },
  created () {
    this.getListCategoryAction()
    this.findPostAction(this.$route.params.id)
  },
  computed: {
    ...mapGetters({
      getListCategory: 'admin/getListCategory',
      getFindPost: 'admin/getFindPost'
    })
  },
  methods: {
    beforeUpload (file) {
      this.fileList = [file]
      return false
    },
    ...mapActions({
      getListCategoryAction: 'admin/getListCategoryAction',
      updatePostAction: 'admin/updatePostAction',
      findPostAction: 'admin/findPostAction'
    }),
    handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields({ suppressWarning: true }, async (err, values) => {
        if (!err) {
          const fileList = this.fileList
          const formData = new FormData()
          fileList.forEach(file => {
            formData.append('image', file)
          })
          formData.append('title', values.title)
          formData.append('category_id', values.category_id)
          formData.append('detail', values.detail)
          formData.append('_method', 'PUT')
          const params = {id: this.$route.params.id, values: formData}
          const res = await this.updatePostAction(params)
          if (res.status === 200) {
            this.$router.push({name: 'index-post'})
            this.$message.success('Sửa thành công!!!')
          }
          if (res.status === 422) {
            this.$message.error(res.data.message)
          }
        }
      })
    }
  }
}
</script>
