<template>
  <div>
    <div style="margin-bottom: 15px">
      <div><router-link :to="{name: 'create-post'}"><a-button>Thêm</a-button></router-link></div>
      <search-table-admin :listQuery="listQuery" @searchList="loadListPost"/>
    </div>
    <a-table
      :columns="columns"
      :pagination=false
      :loading="loading"
      :rowKey="record => record.id"
      :dataSource="this.getListPost"
    >
    <div slot="image" slot-scope="text, record">
      <img v-bind:src="record.image" alt="" width="100%">
    </div>
    <span slot="action" slot-scope="text, record">
      <router-link :to="{ name: 'edit-post', params: { id: record.id }}">
        <a-icon type="edit" />
      </router-link> |
      <a-popconfirm title="Bạn có muốn xóa không？" okText="Có" cancelText="Không" @confirm="deletePost(record.id)">
          <a style="color: red"><a-icon type="delete" /></a>
      </a-popconfirm>
    </span>
    </a-table>
    <div style="float: left; margin-top: 15px">
      {{ this.getListPost.length }} Kết quả / Tổng {{ this.getPaginationListPost.total }} Kết Quả
    </div>
    <div style="display: flow-root">
      <pagination-table-admin :listQuery="listQuery" :paginationData="this.getPaginationListPost" @loadListPagination="loadListPost"/>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

const columns = [
  {
    title: 'id',
    dataIndex: 'id',
    width: '5%',
    scopedSlots: { customRender: 'id' }
  },
  {
    title: 'Tiêu đề',
    dataIndex: 'title',
    width: '20%',
    scopedSlots: { customRender: 'title' }
  },
  {
    title: 'Hình',
    dataIndex: 'image',
    width: '5%',
    scopedSlots: { customRender: 'image' }
  },
  {
    title: 'Hình',
    dataIndex: 'detail',
    width: '20%',
    scopedSlots: { customRender: 'detail' }
  },
  {
    title: 'Ngày tạo',
    dataIndex: 'created_at',
    width: '20%',
    scopedSlots: { customRender: 'created_at' }
  },
  {
    title: 'Ngày cập nhật',
    dataIndex: 'updated_at',
    width: '20%',
    scopedSlots: { customRender: 'updated_at' }
  },
  {
    title: '#',
    key: 'action',
    width: '10%',
    scopedSlots: { customRender: 'action' }
  }
]
export default {
  components: {
    PaginationTableAdmin: () => import('@/components/PaginationTableAdmin'),
    SearchTableAdmin: () => import('@/components/SearchTableAdmin')
  },
  data () {
    return {
      columns,
      loading: false,
      listQuery: {
        page: 1,
        per_page: 5,
        search: ''
      }
    }
  },
  created () {
    this.loading = true
    this.getListPostAction(this.listQuery)
    setTimeout(() => {
      this.loading = false
    }, 800)
  },
  computed: {
    ...mapGetters({
      getListPost: 'admin/getListPost',
      getPaginationListPost: 'admin/getPaginationListPost'
    })
  },
  methods: {
    ...mapActions({
      getListPostAction: 'admin/getListPostAction',
      destroyPostAction: 'admin/destroyPostAction'
    }),
    loadListPost () {
      this.loading = true
      this.getListPostAction(this.listQuery)
      setTimeout(() => {
        this.loading = false
      }, 800)
    },
    async deletePost (id) {
      this.loading = true
      const res = await this.destroyPostAction(id)
      if (res) {
        this.getListPostAction(this.listQuery)
        this.$message.success('Xóa thành công!!!')
        setTimeout(() => {
          this.loading = false
        }, 800)
      }
    }
  }
}
</script>
