<template>
  <div class="container">
    <div class="content">
      <div class="top">
        <div class="header">
          <img alt="logo" class="logo" src="../../img/blog.png" />
        </div>
        <div class="desc">Admin Blog</div>
      </div>
      <div class="login">
        <a-form :form="form" @submit="handleSubmit">
          <a-form-item>
            <a-input size="large" placeholder="email"
             v-decorator="[
                'email',
                { rules: [{ required: true, message: 'Vui lòng nhập email!!!' }] },
              ]"
            >
              <a-icon slot="prefix" type="user" />
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-input size="large" placeholder="mật khẩu" type="password"
             v-decorator="[
                'password',
                { rules: [{ required: true, message: 'Vui lòng nhập mật khẩu!!!' }] },
              ]"
            >
              <a-icon slot="prefix" type="lock" />
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-button :loading="loading" style="width: 100%" size="large" htmlType="submit" type="primary">Đăng nhập</a-button>
          </a-form-item>
        </a-form>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  name: 'Login',
  beforeCreate () {
    this.form = this.$form.createForm(this)
  },
  data () {
    return {
      loading: false,
      error: ''
    }
  },
  methods: {
    ...mapActions({
      loginAction: 'admin/loginAction'
    }),
    handleSubmit (e) {
      e.preventDefault()
      // eslint-disable-next-line handle-callback-err
      this.form.validateFields({ suppressWarning: true }, async (err, values) => {
        this.loading = true
        const res = await this.loginAction(values)
        if (res.status === 200) {
          localStorage.setItem('token-admin', res.data.access_token)
          setTimeout(() => {
            this.loading = false
            this.$router.push({name: 'index-home'})
            this.$message.success('Đăng nhập thành công!!!')
          }, 1000)
        } else {
          setTimeout(() => {
            this.loading = false
            this.$message.error(res.data.message)
          }, 1000)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    background: #f0f2f5 url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg') no-repeat center 110px;
    background-size: 100%;
    .content {
      padding: 32px 0;
      flex: 1;
      @media (min-width: 768px){
        padding: 112px 0 24px;
      }
      .top {
        text-align: center;
        .header {
          a {
            text-decoration: none;
          }
          .logo {
            height: 80px;
            vertical-align: top;
            margin-right: 16px;
          }
          .title {
            font-size: 33px;
            color: rgba(0,0,0,.85);
            font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 600;
            position: relative;
            top: 2px;
          }
        }
        .desc {
          font-size: 14px;
          color: rgba(0,0,0,.45);
          margin-top: 12px;
          margin-bottom: 40px;
        }
      }
      .login{
        width: 368px;
        margin: 0 auto;
        @media screen and (max-width: 576px) {
          width: 95%;
        }
        .icon {
          font-size: 24px;
          color: rgba(0, 0, 0, 0.2);
          margin-left: 16px;
          vertical-align: middle;
          cursor: pointer;
          transition: color 0.3s;
          &:hover {
            color: #1890ff;
          }
        }
      }
    }
  }
</style>
