<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <SideBar/>
    <a-layout>
      <a-layout-header style="background: #ffffff; padding: 0">
        <div style="float: left">
          <span style="font-weight: 600; color: #686868;font-size: 17px; margin-left: 15px;">Chào mừng đến với trang quản trị</span>
        </div>
        <div style="float: right; margin-right: 10px;">
          <span style="font-weight: 600; color: #686868;">Đăng xuất</span>
          <a-button type="primary" shape="circle" @click="clickLogout"><a-icon type="logout" /></a-button>
        </div>
      </a-layout-header>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
        </a-breadcrumb>
        <div :style="{ padding: '24px', background: '#fff', minHeight: '360px' }">
          <slot></slot>
        </div>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>
<script>
import SideBar from '@/layouts/common/SideBar'
import {mapActions} from 'vuex'

export default {
  components: {
    SideBar
  },
  data () {
    return {
      collapsed: false
    }
  },
  methods: {
    ...mapActions({
      logoutAction: 'admin/logoutAction'
    }),
    async clickLogout () {
      const param = {
        token: localStorage.getItem('token-admin')
      }
      await this.logoutAction(param)
      this.$router.push({name: 'admin-login'})
      this.$message.success('Đăng xuất thành công!!!')
      localStorage.removeItem('token-admin')
    }
  }
}
</script>
