<template>
  <a-layout-sider>
    <div class="logo-admin">
      Admin Blog
    </div>
    <a-menu theme="dark">
      <a-menu-item>
        <router-link :to="{name: 'index-home'}">
          <a-icon type="home" />
          <span>Trang chủ</span>
        </router-link>
      </a-menu-item>
      <a-menu-item>
        <RouterLink :to="{name: 'index-user'}">
          <a-icon type="user" />
          <span>Tài khoản</span>
        </RouterLink>
      </a-menu-item>
      <a-menu-item>
        <RouterLink :to="{name: 'index-category'}">
          <a-icon type="diff" />
          <span>Thể loại</span>
        </RouterLink>
      </a-menu-item>
      <a-menu-item>
        <RouterLink :to="{name: 'index-post'}">
          <a-icon type="book" />
          <span>Bài viết</span>
        </RouterLink>
      </a-menu-item>
    </a-menu>
  </a-layout-sider>
</template>

<style scoped>
  .logo-admin {
    height: 64px;
    background: #000c18;
    color: #fff;
    text-align: center;
    font-size: 27px;
    line-height: 63px;
    font-weight: 800;
  }
</style>
