<template>
  <a-form :form="form" @submit="handleSubmit">
    <a-form-item v-bind="formItemLayout" label="Họ và tên">
      <a-input
        v-decorator="[
          'name',
          {
            rules: [{ required: true, message: 'Vui lòng nhập tên', whitespace: true }],
          },
        ]"
      />
    </a-form-item>
    <a-form-item v-bind="formItemLayout" label="E-mail">
      <a-input
        v-decorator="[
          'email',
          {
            rules: [
              {
                type: 'email',
                message: 'Bạn phải nhập E-mail!',
              },
              {
                required: true,
                message: 'Vui lòng nhập E-mail!',
              },
            ],
          },
        ]"
      />
    </a-form-item>
    <a-form-item v-bind="formItemLayout" label="Mật khẩu" has-feedback>
      <a-input
        v-decorator="[
          'password',
          {
            rules: [
              {
                required: true,
                message: 'Vui lòng nhập mật khẩu!',
              },
              {
                validator: validateToNextPassword,
              },
            ],
          },
        ]"
        type="password"
      />
    </a-form-item>
    <a-form-item v-bind="formItemLayout" label="Xác nhận mật khẩu" has-feedback>
      <a-input
        v-decorator="[
          'confirm',
          {
            rules: [
              {
                required: true,
                message: 'Vui lòng nhập lại mật khẩu!',
              },
              {
                validator: compareToFirstPassword,
              },
            ],
          },
        ]"
        type="password"
        @blur="handleConfirmBlur"
      />
    </a-form-item>
    <a-form-item v-bind="formItemLayout" label="Ngày sinh">
      <a-date-picker v-decorator="['birth', config]" />
    </a-form-item>
    <a-form-item v-bind="tailFormItemLayout">
      <a-button type="primary" html-type="submit">
        thêm
      </a-button>
      <router-link :to="{name: 'index-user'}">
        <a-button type="danger" style="margin-left: 15px">
          Trở về
        </a-button>
      </router-link>
    </a-form-item>
  </a-form>
</template>

<script>
import {mapActions} from 'vuex'
import moment from 'moment'
import Vue from 'vue'

Vue.prototype.moment = moment

export default {
  data () {
    return {
      confirmDirty: false,
      autoCompleteResult: [],
      formItemLayout: {
        labelCol: {
          xs: { span: 16 },
          sm: { span: 8 }
        },
        wrapperCol: {
          xs: { span: 16 },
          sm: { span: 8 }
        }
      },
      tailFormItemLayout: {
        wrapperCol: {
          xs: {
            span: 16,
            offset: 0
          },
          sm: {
            span: 16,
            offset: 8
          }
        }
      },
      config: {
        rules: [{ type: 'object', required: true, message: 'Vui lòng chọn ngày sinh' }]
      }
    }
  },
  beforeCreate () {
    this.form = this.$form.createForm(this)
  },
  methods: {
    ...mapActions({
      createUserAction: 'admin/createUserAction'
    }),
    openNotificationWithIcon (type, message, description) {
      this.$notification[type]({
        message: message,
        description: description
      })
    },
    async handleSubmit (e) {
      e.preventDefault()
      this.form.validateFields({ suppressWarning: true }, async (err, values) => {
        if (!err) {
          values.birth = moment(values.birth).format('YYYY-MM-DD')
          const response = await this.createUserAction(values)
          if (response === 201) {
            this.$router.push({name: 'index-user'})
            this.$message.success('Thêm thành công!!!')
          } else {
            this.$message.success('Thêm  không thành công!!!')
          }
        }
      })
    },
    handleConfirmBlur (e) {
      const value = e.target.value
      this.confirmDirty = this.confirmDirty || !!value
    },
    compareToFirstPassword (rule, value, callback) {
      const form = this.form
      if (value && value !== form.getFieldValue('password')) {
        // eslint-disable-next-line standard/no-callback-literal
        callback('Hai mật khẩu chưa khớp!')
      } else {
        callback()
      }
    },
    validateToNextPassword (rule, value, callback) {
      const form = this.form
      if (value && this.confirmDirty) {
        form.validateFields(['confirm'], { suppressWarning: true }, { force: true })
      }
      callback()
    }
  }
}
</script>
