<template>
  <div>
    <div style="margin-bottom: 15px">
      <div><router-link :to="{name: 'index-create'}"><a-button>Thêm</a-button></router-link></div>
      <search-table :listQuery="listQuery" @searchList="loadListUser"/>
    </div>
    <a-table
      :columns="columns"
      :rowKey="record => record.id"
      :dataSource="this.getListUser"
      :pagination=false
      :loading="loading"
    >
    <span slot="action" slot-scope="text, record">
      <a-popconfirm title="Bạn có muốn xóa không？" okText="Có" cancelText="Không" @confirm="deleteUser(record.id)">
          <a style="color: red"><a-icon type="delete" /></a>
      </a-popconfirm>
    </span>
    </a-table>
    <div style="float: left; margin-top: 15px">
      {{ this.getListUser.length }} Kết quả / Tổng {{ this.getPaginationListUser.total }} Kết Quả
    </div>
    <div style="display: flow-root">
      <pagination-table :listQuery="listQuery" :paginationData="this.getPaginationListUser"  @loadListPagination="loadListUser"/>
    </div>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'

const columns = [
  {
    title: 'id',
    dataIndex: 'id',
    width: '5%',
    scopedSlots: { customRender: 'id' }
  },
  {
    title: 'Tên',
    dataIndex: 'name',
    width: '20%',
    scopedSlots: { customRender: 'name' }
  },
  {
    title: 'email',
    dataIndex: 'email',
    width: '25%',
    scopedSlots: { customRender: 'email' }
  },
  {
    title: 'Ngày tạo',
    dataIndex: 'created_at',
    width: '25%',
    scopedSlots: { customRender: 'created_at' }
  },
  {
    title: 'Ngày cập nhật',
    dataIndex: 'updated_at',
    width: '25%',
    scopedSlots: { customRender: 'updated_at' }
  },
  {
    title: '#',
    key: 'action',
    scopedSlots: { customRender: 'action' }
  }
]

export default {
  components: {
    PaginationTable: () => import('@/components/admin/PaginationTable'),
    SearchTable: () => import('@/components/admin/SearchTable')
  },
  data () {
    return {
      columns,
      loading: false,
      listQuery: {
        page: 1,
        per_page: 5,
        search: ''
      }
    }
  },
  created () {
    this.loading = true
    this.getListUserAction(this.listQuery)
    setTimeout(() => {
      this.loading = false
    }, 800)
  },
  computed: {
    ...mapGetters({
      getListUser: 'admin/getListUser',
      getPaginationListUser: 'admin/getPaginationListUser'
    })
  },
  methods: {
    ...mapActions({
      getListUserAction: 'admin/getListUserAction',
      destroyUserAction: 'admin/destroyUserAction'
    }),
    loadListUser () {
      this.loading = true
      this.getListUserAction(this.listQuery)
      setTimeout(() => {
        this.loading = false
      }, 800)
    },
    async deleteUser (id) {
      this.loading = true
      const res = await this.destroyUserAction(id)
      if (res) {
        this.getListUserAction(this.listQuery)
        setTimeout(() => {
          this.loading = false
        }, 800)
      }
    }
  }
}
</script>
